@import '../styles/main.scss';

.CurrentForeCasts{
    margin-top: 9rem;
    min-height: 40rem;
}

.pendingForeCast{

    margin: 10rem auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    h2{
        color: $color-white;
        padding: 5rem;
        line-height: 3rem;
        font-weight: lighter;
        
    }
}

.pendingForeCastOverlay{
    position: absolute;
    width: 100%;
    background-color: $color-grey;
    opacity: .2;
    height: 100%;
    top: 0;
    left: 0;
}