@import '../styles/main.scss';



.foreCastHeading{
    text-transform: uppercase;
    padding: 2rem 0;
    color: $color-white;
    
}

.WeeklyForecastContainer{
    margin-top: 5rem;
    padding-bottom: 5rem;

    h3{
color: $color-white;
    }
}

.WeeklyForeCast{
margin: 0 auto;
justify-content: center;
width: 90%;

}

.weeklyWeathers{

    margin: 1rem;
    padding: 1rem;
    img{
        width: 100%
       
    }
}

.previewForcasts{

color: $color-white;
margin: .5rem;
padding: 1rem;
position: relative;
justify-content: space-around;

h4{

}
}

.previewOverlay{
    background-color: $color-grey;
    opacity: .3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.previewForcast{
    display: flex;
    
    margin: 1rem auto;
    width: 100%;
    }
    
    .previewIcon{
    font-size: 4rem;
    padding-right: 1rem;
    }
    
    .previewTemperature{
        text-align: start;
        display: flex;
        flex-direction: column;
    font-size: 3rem;
    padding: 0;
    span{
    font-size: 1rem;
    }
}

.pendingForeCast{

    margin: 10rem auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .8;

    h4{
        color: $color-white;
        padding: 5rem;
        background-color: $color-grey;
        line-height: 3rem;
        font-weight: lighter;
        
    }
}