
@import './styles/main.scss';

.App {
min-width: 100vw;
margin: 0 auto;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center !important;
 
}



